
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>Hyperdash</title>

        <link rel="preconnect" href="https://fonts.gstatic.com" />

        <script type="text/javascript">
        const version = {{ .Version }};
        </script>

        <script type="text/javascript" src="/scripts/app.js?v={{ .Version }}"></script>
        <link rel="stylesheet" href="/styles/app.css?v={{ .Version }}" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
        <link rel="icon" href="/favicon.ico" />
        <style type="text/css">
            .wrapper {
                grid-template-columns: repeat({{.Dashboard.Grid.Columns}}, 1fr);
                grid-template-rows: repeat({{.Dashboard.Grid.Rows}}, 1fr);
                grid-gap: 1rem;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            {{range .Tiles}}
            <div class="box {{ .Type }}" id="{{ .Name }}" style="grid-column: {{ .Column }};grid-row: {{ .Row }};">
                <div class="title">{{ .Title }}</div>
                <div class="value">Loading...</div>
            </div>
            {{end}}
        </div>
    </body>
</html>
